@import 'tailwindcss';

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .forgot-password-container {
        padding: 70px 16px 20px;
        justify-content: flex-start;
    }
}
