@import 'tailwindcss';

html {
    color: #0A0A0A;
    font-family: 'Inter', sans-serif;
    background-color: #F7F9FB;
}

h3 {
    text-align: left;
    align-self: flex-start;
    margin-bottom: -20px;
    margin-left: 10px;
}

h1 {
    text-align: center;
    margin-top: 12vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: bold;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    background-color: #F7F9FB;
    align-items: center;
    gap: 25px;
}

.forgot-password-form input::placeholder {
  color: #717182;
}

.forgot-password-form input:focus {
    outline: none;
    border: 5px solid #CFCFCF;
    border-radius: 10px;
    background-color: #F3F3F5;
}

.forgot-password-form input {
    width: 25vw;
    border-radius: 6px;
    background-color: #F3F3F5;
    padding: 10px;
    color: #0A0A0A;
    outline: none;
}

.enter-button {
    background-color: #155DFC;
    color: #ffffff;
    padding: 15px;
    width: 25vw;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-size: 1.25rem;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.enter-button:hover {
    background-color: #1447E6;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bottom-button {
    margin-top: 30px;
    color: #ffffff;
    background-color: #155DFC;
    padding: 15px;
    width: 25vw;
    border-radius: 10px;
    transition: all 0.2s ease;
    font-size: 1.25rem;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bottom-button:hover {
    background-color: #1447E6;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.red-to-green-container {
    position: absolute;
    bottom: 2vh;
    left: 2.5vw;
    display: flex;
    align-items: center;
    gap: 0.1px;
    font-size: 4.5rem;
    font-weight: bold;
}

.red-text {
    color: #db4437;
}

.two-text {
    color: #737373;
}

.green-text {
    color: #0f9d58;
}
