@import 'tailwindcss';

/* 
This is not the place to add lots of classes for complex components of the dashboard
Large components should get their own .css file in client/src/app/styles/dashboard/
*/

html {
    color: #0A0A0A;
    font-family: 'Inter', sans-serif;
    background-color: #F5F8FA;
    margin: 0;
    height: 100%;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    height: auto;
}

.section-heading {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin: 0 0 12px 0;
}

.left-column {
    flex: 2;
    flex-direction: column;
    padding: 35px;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 35px;
}

.card-container {
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 5vh;
}

.total-invested-container,
.total-revenue-container,
.realized-pl-container,
.total-trades-container,
.risk-reward-container,
.position-sizes-container {
    flex: 1;
}

.position-sizes-container,
.trade-history-container {
    margin-bottom: 0;
}

.stock-performance-container {
    height: 60vh;
}

.trade-history-container {
    height: 70vh;
}

.realized-pl-container {
    background-color: #effcff;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .left-column {
        width: 100%;
        padding: 16px;
        padding-top: 0;
        order: 2;
    }

    .right-column {
        width: 100%;
        padding: 16px;
        padding-bottom: 0;
        order: 1;
    }

    .section-heading {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .card-container {
        margin-bottom: 16px;
        border-radius: 10px;
    }

    .stock-performance-container {
        height: 40vh;
        min-height: 250px;
    }

    .trade-history-container {
        min-height: 350px;
    }
}

.performance-chart-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    margin-left: 20px;
    margin-top: 13px;
    z-index: 10;
}


.performance-chart-button:hover {
    background-color: #0056b3;
}
