.total-invested-container {
    background-color: #EEF3FF;
}

.total-revenue-container {
    background-color: #f2fbf2;
}

.invested-header-container,
.revenue-header-container,
.realized-header-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
}

.invested-header-container h1,
.revenue-header-container h1,
.realized-header-container h1 {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.invested-amount-container,
.revenue-amount-container,
.realized-amount-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    font-size: 2rem;
}